spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      driver-class-name: org.hsqldb.jdbc.JDBCDriver
      jdbc-url: jdbc:hsqldb:mem:testdb;DB_CLOSE_DELAY=-1
      username: sa
      password:
      connection-test-query: SELECT 1 FROM INFORMATION_SCHEMA.SYSTEM_USERS
      minimumIdle: 5
      maximumPoolSize: 50
      idleTimeout: 30000
      maxLifetime: 1800000
      connectionTimeout: 30000
      leak-detection-threshold: 48000
  main:
    allow-bean-definition-overriding: true


server:
  context-path: lotterental
  servlet:
    register-default-servlet: true
    encoding:
      charset: UTF-8
      enabled: true
      force: true
