<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lotterental.rng.demo.nexacro.mapper.Nexacro1Mapper">

	<select id="selectNexacro" parameterType="NexacroVo" resultType="NexacroModel">
		SELECT ID
			 , NAME
			 , DESCRIPTION
			 , USE_YN
			 , REG_USER
		  FROM SAMPLE
		 WHERE ID = #{id}
    </select>
    
    <select id="selectNexacroList" parameterType="NexacroVo" resultType="NexacroModel">
		SELECT ID
			 , NAME
			 , DESCRIPTION
			 , USE_YN
			 , REG_USER
		  FROM SAMPLE
		 WHERE ID = #{id}
    </select>
    
    <select id="selectNexacroList2" parameterType="map" resultType="map">
		SELECT ID
			 , NAME
			 , DESCRIPTION
			 , USE_YN
			 , REG_USER
		  FROM SAMPLE
		 WHERE ID = #{id}
    </select>
    
    <select id="selectNexacroList3" parameterType="bizDataMap" resultType="bizDataMap">
		SELECT ID
			 , NAME
			 , DESCRIPTION
			 , USE_YN
			 , REG_USER
		  FROM SAMPLE
		 WHERE ID = #{id}
    </select>

    <insert id="insertNexacro" parameterType="NexacroVo">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select SEQ_ID.nextval FROM DUAL
		</selectKey>
    	INSERT INTO SAMPLE (
    		ID
			 , NAME
			 , DESCRIPTION
			 , USE_YN
			 , REG_USER
    	) VALUES (
    		#{id}
			 , #{name}
			 , #{description}
			 , #{useYn}
			 , #{regUser}
    	)
    </insert>

    <update id="updateNexacro" parameterType="NexacroVo">
        UPDATE SAMPLE
           SET NAME = #{name}
			 , DESCRIPTION = #{description}
			 , USE_YN = #{useYn}
			 , REG_USER = #{regUser}
         WHERE ID = #{id}
    </update>

    <delete id="deleteNexacro" parameterType="NexacroVo">
        DELETE SAMPLE
         WHERE ID = #{id}
    </delete>

</mapper>
